body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f2f4e2;
}
h1{
  text-align: center;
}
h3{
  text-align: center;
}
#quizInformation{
  text-align: center;
}
.jumbotron{
  background-color: #e6c5cd;
}
.card{
  margin-bottom: 3%;
  background-color: #e7e0d2;
}
.btn{
  display: block;
  background-color: #9898ba;
  margin: auto;
}
#retakeButton{
  display: none;
  margin-bottom: 5%;
}
img{
  display: block;
  min-width: 20%;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#outputMessage{
  text-align: center;
  font-style: italic;
}
#outputInfo{
  text-align: center;
}
#specialButton{
  font-style: italic;
  background-color: #9898ba49;
}