h1{
  text-align: center;
}
h3{
  text-align: center;
}
#quizInformation{
  text-align: center;
}
.card{
  margin-bottom: 3%;
}
img{
  display: block;
  min-width: 20%;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#outputInfo{
  text-align: center;
}